Source: openhrp3.0.1
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 5),
	       sun-java6-jdk,
	       sun-java6-fonts,
	       sun-java5-jdk,
	       jython,
	       libreadline-java,
	       java-common,
	       g77,
	       libcos4-dev,
	       libcos4-1,
	       libomnievents-dev,
	       libomnievents2,
	       libomniorb4-dev,
	       libomniorb4-1,
	       libomnithread3-dev,
	       libomnithread3c2,
	       odbcinst1debian1,
	       omnievents,
	       omniidl4,
	       omniidl4-python,
	       omniorb4,
	       omniorb4-idl,
	       omniorb4-nameserver,
	       python-omniorb2,
	       python-tk,
	       lapack3,
	       lapack3-dev,
	       atlas3-base,
	       atlas3-base-dev,
	       atlas3-headers,
	       refblas3,
	       refblas3-dev,
	       f2c,
	       libf2c2,
	       libf2c2-dev,
	       libg2c0,
	       libg2c0-dev,
	       libboost-dev,
	       libboost-filesystem-dev,
	       libboost-graph-dev,
	       libboost-iostreams-dev,
	       libboost-program-options-dev,
	       libboost-regex-dev,
	       libboost-serialization-dev,
	       libboost-signals-dev,
	       libboost-test-dev,
	       libboost-thread-dev,
	       libboost-wave-dev,
	       libltdl3,
	       libssl-dev,
	       unixodbc,
	       zlib1g-dev,
	       libncurses5-dev,
	       libreadline5-dev,
	       librxtx-java,
	       libace-dev,
	       tvmet (>= 1.7.2),
	       openrtm-aist-dev (= 0.4.2-1)
Standards-Version: 3.8.0
Section: science
Homepage: http://www.openrtp.jp/openhrp3/en/index.html

Package: openhrp3.0.1
Section: science
Architecture: i386
Depends: sun-java6-jdk,
	 sun-java6-fonts,
	 sun-java5-jdk,
	 jython,
	 libreadline-java,
	 java-common,
	 libcos4-1,
	 libomnievents2,
	 libomniorb4-1,
	 libomnithread3c2,
	 odbcinst1debian1,
	 omnievents,
	 omniidl4,
	 omniidl4-python,
	 omniorb4,
	 omniorb4-idl,
	 omniorb4-nameserver,
	 python-omniorb2,
	 python-tk,
	 lapack3,
	 atlas3-base,
	 refblas3,
	 f2c,
	 libf2c2,
	 libg2c0,
	 libltdl3,
	 unixodbc,
	 zlib1g,
	 libncurses5,
	 libreadline5,
	 librxtx-java,
	 openrtm-aist (= 0.4.2-1),
	 ${shlibs:Depends}, ${misc:Depends}
Description: the OpenHRP3 robotics simulation platform
 OpenHRP3 (Open Architecture Human-centered Robotics Platform version
 3) is an integrated software platform for robot simulations and
 software developments. It allows the users to inspect an original
 robot model and control program by dynamics simulation. In addition,
 OpenHRP3 provides various software components and calculation
 libraries that can be used for robotics related software developments.
