[Desktop Entry]
Type=Application
Name=OpenHRP
GenericName=OpenHRP robotics framework
Exec=/opt/openhrp-3.0.1/bin/unix/GrxUI.sh
Path=/opt/openhrp-3.0.1/bin/unix
Icon=openhrp
Categories=Robotics;Science;Education;
