#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS



configure: configure-stamp
configure-stamp:
	dh_testdir

# Package configuration.
	cp $(CURDIR)/Make.vars.ubuntu.8.04 $(CURDIR)/Make.vars

	touch configure-stamp


#Architecture
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp
	LD_LIBRARY_PATH=$(CURDIR)/ModelLoader/server/java3d/j3d/lib/i386:$(CURDIR)/client/gui/jmf/lib:$(LD_LIBRARY_PATH) $(MAKE)
	touch $@

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp
# Clean package.
	$(MAKE) clean
	-rm $(CURDIR)/Make.vars
	-rm -f $(CURDIR)/bin/unix/OpenHRPpy
	-rm -f $(CURDIR)/client/gui/corba/OpenHRPCommonDynSK.cpp
	dh_clean

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i
	dh_installdirs -i
	dh_install -i

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s

	chmod 644 $(CURDIR)/sample/JoystickControl/TkJoyStick/README.TkJoyStick
	chmod 755 $(CURDIR)/bin/unix/OpenHRPpy
	chmod 755 $(CURDIR)/bin/unix/config.sh.Example

	find $(CURDIR) -name '*.wrl' | xargs chmod 644
	find $(CURDIR) -name '*.png' | xargs chmod 644

	find $(CURDIR) -name '*.cpp' | xargs chmod 644
	find $(CURDIR) -name '*.conf' | xargs chmod 644
	find $(CURDIR) -name '*README*' | xargs chmod 644

	find $(CURDIR) -name '*.bat' | xargs chmod 644
	find $(CURDIR) -name '*.sln' | xargs chmod 644
	find $(CURDIR) -name '*.properties' | xargs chmod 644
	find $(CURDIR) -name '*.vcproj' | xargs chmod 644
	find $(CURDIR) -name '*.jar' | xargs chmod 644

	find $(CURDIR) -name '*.sh' | xargs chmod 755
	find $(CURDIR) -name '*.py' | xargs chmod 755

	find $(CURDIR) -iname thumbs.db | xargs rm -f
	find $(CURDIR) -type d -empty -delete

	mkdir -p $(CURDIR)/debian/openhrp3.0.1/opt/openhrp-3.0.1
	find $(CURDIR) -mindepth 1 -maxdepth 1 \
	-type d -and -not -name debian -and -not -name '.*' \
	| xargs cp -prt $(CURDIR)/debian/openhrp3.0.1/opt/openhrp-3.0.1

	mkdir -p $(CURDIR)/debian/openhrp3.0.1/usr/share/pixmaps
	cp $(CURDIR)/debian/openhrp.xpm \
	   $(CURDIR)/debian/openhrp3.0.1/usr/share/pixmaps/
	mkdir -p $(CURDIR)/debian/openhrp3.0.1/usr/share/applications
	cp $(CURDIR)/debian/openhrp.desktop \
	   $(CURDIR)/debian/openhrp3.0.1/usr/share/applications/

	dh_install -s
# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_desktop
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
